PORT=3000
LOGS_LEVEL=info
SMTP_HOST=test.bgord.dev
SMTP_PORT=1025
SMTP_USER=abc
SMTP_PASS=abc
EMAIL_FROM=abc@example.com
EMAIL_TO=abc@example.com
TZ=UTC
BASIC_AUTH_USERNAME=admin
BASIC_AUTH_PASSWORD=password
OPEN_AI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ANTHROPIC_AI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AXIOM_API_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AI_CLIENT_ADAPTER=open_ai
MAILER_ADAPTER=smtp
BETTER_AUTH_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BETTER_AUTH_URL=http://localhost:${PORT}
