.cspellcache
.env.local
.env.production
.env.staging
.env.test
.stryker-tmp
infra/adapters/system/profile-avatars/
infra/build-info.json
meta.json
node_modules/
output/
public/*.js
public/*.js.map
public/main.min.css
reports/
sqlite.db*
test-results/
tmp/
tsconfig.tsbuildinfo
