html,
body {
  font-family: Inter !important;
}

.logo a,
.logo a:visited,
.logo a:hover,
.logo a:active {
  text-shadow: -10px -8px var(--color-brand-800);
  color: var(--color-brand-300);
  text-decoration: none;
}

/* View transition Home -> Add entry */

