html,
body {
  font-family: Inter !important;
}

.logo a,
.logo a:visited,
.logo a:hover,
.logo a:active {
  text-shadow: -10px -8px var(--color-brand-800);
  color: var(--color-brand-300);
  text-decoration: none;
}

input[type="date"] {
  font-size: var(--font-size-xs);
  border: var(--border-width-hairline) solid var(--color-neutral-900);
}

input[type="date"]:placeholder-shown {
  font-size: var(--font-size-xs);
}
